.calendar-container {
  display: flex;
  padding: 0 10px;
}

.calendar-container .day {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.calendar-container .day .day-name {
  background-color: #3f51b5;
  color: white;
  font-weight: bold;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid white;
}

.calendar-container .day .day-name.day-Saturday {
  border-right: none;
}

.calendar-container .day .day-name .sub-title {
  font-size: 10px;
}

.calendar-container .day .day-events-container {
  min-height: 300px;
}

.calendar-container .day .day-events-container .new-event-button {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.calendar-container .day .day-events-container .new-event-button:hover {
  background-color: #ddd;
}

.calendar-container .day .day-events-container .event-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #3f51b5;
  margin: 3px;
  padding: 3px;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}

.calendar-container .day .day-events-container .event-container .event-time,
.calendar-container .day .day-events-container .event-container .event-name,
.calendar-container .day .day-events-container .event-container .event-owner {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.calendar-container .day .day-events-container .event-container .event-time {
  font-size: 12px !important;
}

.calendar-container .day .day-events-container .event-container .event-time .text,
.calendar-container .day .day-events-container .event-container .event-name .text,
.calendar-container .day .day-events-container .event-container .event-owner .text {
  margin-left: 5px;
}

.calendar-container .day .day-events-container .event-container .controls {
  position: absolute;
  top: 3px;
  right: 3px;
}

.calendar-container .day .day-events-container .event-container .controls .button {
  cursor: pointer;
}
